@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #ffffff;
  --dark-color-b: #ffffff;
  --light-color: #94ddffcb;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace,sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
  background-image: url(/img/logo2.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position-x: left;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Join Page */
.join-container {
  max-width: 500px;

  margin: 60px auto;
  color: #1517a0;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
  height: auto;
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  padding-top: 25px;
  margin-bottom: 30px;
}

.join-main label {
  display: block;
  margin-bottom: 2px;
  color: #484a4b;
  margin-bottom: 6px;
}

.join-main #username {
  font-size: 16px;
  padding-right: 5px;
  height: 40px;
  border: none;
  border-bottom: 2px solid rgb(94, 93, 93);
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(94, 93, 93);
}
.visible{
	visibility: none;
	display: none;
	opacity: 1;
	z-index: 0;
}

#generate-room.btn {
  background-color: #3bcbff;
  height: 40px;
  width: auto;
}

#submit-btn {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #3bcbff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  padding: 13px 56px;
  text-decoration: none;
  border-color: white;
  border: solid;
  width: 100%;
}
.myButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #3bcbff 100%);
  background-color: #408c99;
}
.myButton:active {
  position: relative;
  top: 1px;
}

#roomid {
	width: 50%;
	font-size: 16px;
	padding: 5px;
	height: 40px;
	border: none;
	border-bottom: 2px solid rgb(94, 93, 93);
}
#roomid:focus {
	border: none;
}	
#generate-room {
  background-color: #5cb85c;
  cursor: pointer;
  padding: 5px 15px;
  background-color: #4e51e6;
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}