@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #ffffff;
  --dark-color-b: #ffffff;
  --light-color: #6c757d;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace, sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 40px auto;
  color: #1517a0;
}

.join-main {
  padding: 40px;
  padding-top: -20px;
  background: var(--dark-color-b);
  height: auto;
}

.join-main .form-control {
  margin-bottom: 30px;
}
.form-control {
  padding-top: 25px;
}

.join-main label {
  display: block;
  margin-bottom: 6px;
  color: #484a4b;
}

.join-main #username,
.join-main select,
#roomid {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(94, 93, 93);
}

#username:focus {
  outline: none;
}

.join-main #username {
  padding-right: 5px;
}

.visible {
  display: none;
}

#generate-room,
#submit-btn {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #1517a0;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  border: solid;
  border-color: white;
}

#submit-btn {
  padding: 13px 56px;
}

.myButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #3bcbff 100%);
  background-color: #408c99;
}

.myButton:active {
  position: relative;
  top: 1px;
}

#roomid:focus {
  outline: none;
}

#generate-room {
  background-color: #5cb85c;
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}
